h1 {
    background-color: rgb(107, 177, 202);
    background-position: center;
    color: blue;
}

body {
    background-color: lightblue;
}

a {

display: block;

}

#TORCEDORCHORANDO {
    border-color: black;
    border-width: 8px;
    border-style: solid;
    margin-left: 500px;
}